In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
import warnings
warnings.filterwarnings(action="ignore")

# Import Data

In [7]:
links_df= pd.read_csv("..\datasets\ml-latest-small\links.csv")
links_df

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [8]:
movies_df= pd.read_csv("..\datasets\ml-latest-small\movies.csv")
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [9]:
ratings_df= pd.read_csv("..\datasets\ml-latest-small\\ratings.csv")
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [16]:
ratings_df.userId.max()

610

In [18]:
movies_df.query("title == 'Heat (1995)'").movieId.value

5    6
Name: movieId, dtype: int64

In [ ]:
ratings_ex_df = ratings_df.copy()
ratings_ex_df.append()
new_row = {'userId':ratings_df.userId.max()+1, 'movieId':, 'Duration':'55days', 'Discount':1800}
df2 = df.append(new_row, ignore_index=True)

In [15]:
ratings_df.groupby("userId").agg(movies_count=("movieId","count")).movies_count.min()

20

In [6]:
tags_df= pd.read_csv("datasets\ml-latest-small\\tags.csv")
tags_df

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

# UserBased Recommender

## create Cross Table

In [7]:
cross_table = pd.pivot_table(data=ratings_df, values="rating",columns="movieId",index="userId")
cross_table

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Replace NaN with = ( to use Cosine similarities )
thats not optimum to add impute with zero as it drag all the predicted weights to lower values...
TODO: can try to impute the values with something different like medien

In [9]:
cross_table = cross_table.fillna(0)

In [13]:
cross_table

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Calc Similarities between Users

In [16]:
from sklearn.metrics.pairwise import cosine_similarity
usrs_similarities = pd.DataFrame(cosine_similarity(cross_table),
                                columns=cross_table.index, 
                                index=cross_table.index
                                )

In [36]:
usrs_similarities

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,1.000000,0.153063,0.262558,0.069622,0.201104
607,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,1.000000,0.283081,0.149190,0.139114
608,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,1.000000,0.121993,0.322055
609,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,1.000000,0.053225
610,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,1.000000

## calculate the weight from similarties (per user)

In [28]:
chosen_user = 1
user_weight_col = usrs_similarities.query("userId!=@chosen_user")[chosen_user]
weights = user_weight_col/sum(user_weight_col)
weights

userId
2      0.000336
3      0.000736
4      0.002395
5      0.001590
6      0.001579
         ...
606    0.002023
607    0.003319
608    0.003587
609    0.001153
610    0.001791
Name: 1, Length: 609, dtype: float64

In [29]:
# as test sum of weights should = 1
weights.sum()

1.000000000000001

## find items (movies) that chosen_user has not rated

In [30]:
cross_table

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
not_rated_items = cross_table.loc[cross_table.index!=chosen_user , cross_table.loc[chosen_user,:]== 0 ]
not_rated_items.T

userId,2,3,4,5,6,7,8,9,10,11,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## compute predicted rating that user would give (based on weighted similarity wwith other users)

In [42]:
predicted_rates = pd.DataFrame(not_rated_items.T.dot(weights),columns=["predicted_rates"])
predicted_rates

         predicted_rates
movieId
2               0.842127
4               0.027652
5               0.275115
7               0.321403
8               0.046876
...                  ...
193581          0.000286
193583          0.000250
193585          0.000250
193587          0.000250
193609          0.002973

[9492 rows x 1 columns]

## use predicted rates to compute top n items for chosen_user

In [47]:
n_top = 10
recommended_items = predicted_rates.merge(movies_df, on="movieId")[["title","genres","predicted_rates"]].nlargest(n_top,"predicted_rates")

# Create a function

In [48]:
def get_recommendation ( n=10, user_id= 1):
    chosen_user = user_id
    n_top = n
    cross_table = pd.pivot_table(data=ratings_df, values="rating",columns="movieId",index="userId")
    cross_table = cross_table.fillna(0)
    
    usrs_similarities = pd.DataFrame(cosine_similarity(cross_table),columns=cross_table.index, index=cross_table.index)
    
    user_weight_col = usrs_similarities.query("userId!=@chosen_user")[chosen_user]
    weights = user_weight_col/sum(user_weight_col)
    
    not_rated_items = cross_table.loc[cross_table.index!=chosen_user , cross_table.loc[chosen_user,:]== 0 ]
    predicted_rates = pd.DataFrame(not_rated_items.T.dot(weights),columns=["predicted_rates"])
    
    recommended_items = predicted_rates.merge(movies_df, on="movieId")[["title","genres","predicted_rates"]].nlargest(n_top,"predicted_rates")
    
    return recommended_items

In [52]:
cross_table.T[5]

movieId
1         4.0
2         0.0
3         0.0
4         0.0
5         0.0
         ...
193581    0.0
193583    0.0
193585    0.0
193587    0.0
193609    0.0
Name: 5, Length: 9724, dtype: float64

In [53]:
which_user = 5
get_recommendation(20,which_user)

,title,genres,predicted_rates
291,Forrest Gump (1994),Comedy|Drama|Romance|War,2.987118
471,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,2.530083
387,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,2.281672
38,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1.881849
308,Speed (1994),Action|Romance|Thriller,1.699053
29,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,1.582715
128,Die Hard: With a Vengeance (1995),Action|Crime|Thriller,1.565097
211,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1.551673
1894,"Matrix, The (1999)",Action|Sci-Fi|Thriller,1.548122
571,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller,1.411351
124,Crimson Tide (1995),Drama|Thriller|War,1.404996
405,Mrs. Doubtfire (1993),Comedy|Drama,1.357227
853,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1.313529
367,"Firm, The (1993)",Drama|Thriller,1.309703
502,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller,1.271120
236,Outbreak (1995),Action|Drama|Sci-Fi|Thriller,1.239167
8,GoldenEye (1995),Action|Adventure|Thriller,1.232290
866,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,1.222757
2180,Fight Club (1999),Action|Crime|Drama|Thriller,1.222065
855,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,1.191754

# Evaluate

In [72]:
(pd.DataFrame(cross_table.T[which_user])
 .reset_index()
 .rename(columns={which_user: "user_rate"})
 .merge(movies_df,on="movieId")
 .query("user_rate != 0")
 .sort_values(by="user_rate",ascending=False)
)

,movieId,user_rate,title,genres
508,590,5.0,Dances with Wolves (1990),Adventure|Drama|Western
413,475,5.0,In the Name of the Father (1993),Drama
461,527,5.0,Schindler's List (1993),Drama|War
52,58,5.0,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance
513,596,5.0,Pinocchio (1940),Animation|Children|Fantasy|Musical
512,595,5.0,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
211,247,5.0,Heavenly Creatures (1994),Crime|Drama
511,594,5.0,Snow White and the Seven Dwarfs (1937),Animation|Children|Drama|Fantasy|Musical
257,296,5.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
251,290,5.0,Once Were Warriors (1994),Crime|Drama
0,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
325,367,4.0,"Mask, The (1994)",Action|Comedy|Crime|Fantasy
20,21,4.0,Get Shorty (1995),Comedy|Crime|Thriller
464,531,4.0,"Secret Garden, The (1993)",Children|Drama
506,588,4.0,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical
412,474,4.0,In the Line of Fire (1993),Action|Thriller
398,457,4.0,"Fugitive, The (1993)",Thriller
225,261,4.0,Little Women (1994),Drama
198,232,4.0,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance
97,110,4.0,Braveheart (1995),Action|Drama|War
46,50,4.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
33,36,4.0,Dead Man Walking (1995),Crime|Drama
32,34,4.0,Babe (1995),Children|Drama
507,589,3.0,Terminator 2: Judgment Day (1991),Action|Sci-Fi
467,534,3.0,Shadowlands (1993),Drama|Romance
514,597,3.0,Pretty Woman (1990),Comedy|Romance
450,515,3.0,"Remains of the Day, The (1993)",Drama|Romance
509,592,3.0,Batman (1989),Action|Crime|Thriller
307,349,3.0,Clear and Present Danger (1994),Action|Crime|Drama|Thriller
355,410,3.0,Addams Family Values (1993),Children|Comedy|Fantasy
322,364,3.0,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX
302,344,3.0,Ace Ventura: Pet Detective (1994),Comedy
277,318,3.0,"Shawshank Redemption, The (1994)",Crime|Drama
260,300,3.0,Quiz Show (1994),Drama
228,265,3.0,Like Water for Chocolate (Como agua para choco...,Drama|Fantasy|Romance
217,253,3.0,Interview with the Vampire: The Vampire Chroni...,Drama|Horror
126,153,3.0,Batman Forever (1995),Action|Adventure|Comedy|Crime
123,150,3.0,Apollo 13 (1995),Adventure|Drama|IMAX
35,39,3.0,Clueless (1995),Comedy|Romance
520,608,3.0,Fargo (1996),Comedy|Crime|Drama|Thriller
337,380,2.0,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller
315,357,2.0,Four Weddings and a Funeral (1994),Comedy|Romance
275,316,2.0,Stargate (1994),Action|Adventure|Sci-Fi
229,266,1.0,Legends of the Fall (1994),Drama|Romance|War|Western